# Node.js
node_modules
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.*.local

# TypeScript
dist/
*.tsbuildinfo

# Prisma
prisma/dev.db       # если используешь SQLite
/prisma/migrations/* # если хочешь игнорировать миграции
/src/generated/prisma/ # если используешь кастомный путь для Prisma Client

# Logs
logs
*.log

# MacOS
.DS_Store

# VSCode
.vscode/
.history/
