.drawerHandle {
    background-color: #f3f4f6;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    display: none;
    height: 0.5rem;
    width: 6.25rem;
    flex-shrink: 0;
    border-radius: 9999px;
}

.drawerHandle[data-vaul-drawer-direction="bottom"] {
    display: block;
}