.progress {
    background-color: rgba(15, 23, 42, 0.2);
    position: relative;
    height: 0.5rem;
    width: 100%;
    overflow: hidden;
    border-radius: 9999px;
}

.progressIndicator {
    background-color: #0f172a;
    height: 100%;
    width: 100%;
    flex: 1;
    transition: all 0.3s ease-in-out;
}